<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/clients.css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <div>
    <%- include partials/admin_navbar.ejs %>
    <br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <body>
    <h1>ADMIN ITEMS PAGE</h1>
    <div>
      <% for (i in data){ %>
        <p> <%= data[i].item_name %> </p>
        <p> <%= data[i].item_description %> </p>
        <p> $ <%= data[i].item_price %> </p>
        <form method="post" action="/admin/items/delete">
        <input type="text" name="item_id" value= "<%= data[i].item_id %>" readonly>
        <input type="submit" value="DELETE">
        <br>
      </form>
        <% } %>
    </div>
    </body>
</html>
