<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <link type="text/css" rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>


<body>
  <div class="topnav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <input id="myInput" type="text" placeholder="Search..">
      </li>
    </ul>
  </div>

  <div id="sidenav" class="sidenav">
    <h4>CART</h4>
    <div id="cart" class="cart">
    <form id="form">
      <div class="order">
        <!-- CART ITEMS APPENDED HERE  -->
        <input id="totalCost" class="button" type="submit" value="0.00">
      </div>
       </form>
       </div>
  </div>

  <!-- SHOPPERS CATELOGUE ITEMS FROM DB  -->
  <div id="main" class="master-items--container">
    <div class="grid-container">
      <% for (i in data){ %>
        <td>
          <div class="grid-item ">
            <div>
              <img class="photo" src="<%= data[i].item_photo_URL %>" />
            </div>
            <span id="item_name" class="item_name"> <%= data[i].item_name %> </span>
              <input type="hidden" id="item_id" class="item_id" value="<%= data[i].item_id %>">
            <span class="shopper-text">
            <%= data[i].item_description %>
          </span>
            <span class="price">$<%= data[i].item_price %></span>
            <div id="add" class="add">
              <button class="button">ADD</button>
            </div>
          </div>
        </td>
        <% } %>
    </div>
  </div>
</body>
</html>

<!-- *************** JQUERRY CART TO ADD ITEMS *************** -->
<script>

$( document ).ready(function() {
    $("#totalCost").hide() // Keep cart total hidden until add is clicked
});

// SELECT ITEMS BY CLASS AND APPEND NAME AND PRICE TO CART
$( ".add" ).click(function() {
  const item_name = $(this).parent().find('.item_name').text();
  const item_price = $(this).parent().find('.price').text();
  const item_id = $(this).parent().find('.item_id').val();
  const products = `<div id="cart_item_box" class="cart_item_box">
  <tr>
  <div>
  <span id="order_item" class="order_item" value=${item_name}>${item_name}</span>
    <span id="order_price" class="order_price" value="${item_price}">${item_price}</span>
  <input id="order_quantity" class="order_quantity" name="items_quantity" type="number" min="1" max="5" value="1">
    <input type = "hidden" name="item_name" value = "${item_name}" />
    <input type="hidden" id="item_id" class="item_id" name="item_id" value="${item_id}">
    <input type="hidden" id="item_price" class="item_price" name="item_price" value="${item_price}">
  </div>
  <button id="delete_cart_item" class="delete_cart_item">DELETE</button>
  </tr>
  </div>`;

  $(".order").prepend(products) // Add a new item line
  $('#cart_item_box').hide().fadeIn() // Effect on items
  $(this).hide(".button") // Hide add button, no need for duplicates check
  $("#totalCost").fadeIn() // Reveal checkout total
});

// UPDATE PRICE OF LINE ITEMS
$(".cart").on( "click", ".order_quantity", function() {
  const quantity = $(this).parent().find('.order_quantity').val(); // Select quantity from items
  const newPriceString = $(this).parent().parent().find('.order_price').attr("value");
  const replace = newPriceString.replace('$', '') // Format string without $ sign
  const newPrice = Number(replace); // convert price string to number
  const total = quantity * newPrice;
  $(this).parent().find('.order_price').text('$ ' + total.toFixed(2)); // replace item with new item price
});

// DELETE ITEM LINE FROM CART
$('.cart').on( "click", ".delete_cart_item", function(){
  $(this).parent().remove() // Delete parent line item
  const product_name = $(this).parent().find('.order_item').text();
  $(".grid-item").find("span:contains("+product_name+")").parent().find('#add').show(".button") // Retrieve add button
})

// CART SUM tOTAL
$(document).click(function(){
        let total = 0;
          $('.order_price').each(function() {
            const priceString = $(this).text().replace('$', '') // Removing $ sign from price string
            const final_price = Number(priceString) // Convert string to number
              total += final_price;
          });
          $("#totalCost").val('CHECKOUT: $ ' + total.toFixed(2)); // Sum of all items in cart
      });

// SEARCH FILTER CURRENTLY FINDS ITEMS AND LOGS THEM IN BROWSER
$("#myInput").on("keyup", function() {
  const search = $(this).val()
  console.log("search: ", search)
  if (search === ""){
    $(".grid-item").show()
  }
  const listItem = $(".grid-item").children(".item_name");
  const searchResult = $(".grid-item").find("span:contains("+search+")").parent().find(".item_name").text()
  console.log("search Result: ", searchResult)
   for (i = 0; i < listItem.length; i++) {
    const matchedItem = listItem[i].innerHTML
    if (searchResult === matchedItem){
      $(".grid-item").hide()
      $(".grid-item").find("span:contains("+search+")").parent().find('#item_name').parent().show()
    }
   }
});

// SUBMIT CART FOR POST TO SERVER
// SEND DATA USING JSON STRINGIFY
// USING SERIALIZE ARRAY
// SEND EVERYTHING INCLUDING ITEM_ID TO SERVER
$( document ).ready(function() {
$('#form').on( "submit", function(e){
  e.preventDefault();

  // Auto serializes cart form into array of objects by input name
  const order = $(this).serializeArray()

  // Prepare object to be posted
  const result = Object.create(null);
  for (const {name, value} of order) {
    (result[name] = result[name] || []).push(value);
  }
  console.log(result);
  // Total Cost - convverted to number format but haven't actually changed type
  const order_total = $("#totalCost").val().replace('CHECKOUT: $ ', '')
  fetch(`/clients/shoppers/checkout`, {
      method: "POST",
      body: JSON.stringify({
        items: result,
        total_price: order_total,
      }),
      headers: {
        'Content-type': 'application/json'
      },
      credentials: 'include',
    }).then(result => {
      window.location = 'shoppers/checkout';
    })
  });
});

</script>
